#Certifications img {
width: 100px;
    height: 100px;
    display: inline-block;
    padding-top: 10px;
    padding-left: auto;
    padding-right: auto;
}

#Certifications div {
margin: 10px;
    background-image: linear-gradient(45deg, rgb(0, 0, 0), rgb(0, 0, 122));
    border: 15px ridge rgb(255, 255, 255);
    text-align: center;
position: relative;

display: inline-block;
}

#Certifications h5{
    font-size: 30px;
}

#Certifications a {
color: white;
    width: 200px;
    height: 50px;
    text-align: center;
    display: block;
padding: 10px;
    margin: 0px;
}

body {
    color: rgb(0, 145, 145);
    background-image: linear-gradient(45deg,
            rgb(25, 25, 100),
            rgb(146, 146, 177));
    margin: 0px;
    padding: 0px;
}

h1.title,
h2.title,
h3.title,
h4.title,
h5.title {
    text-decoration: underline;
    text-align: center;
}
* {
    font-family: "Courier New", Courier, monospace;
    position: relative;
}

nav li {
    float: left;
    margin: 0;
    padding: 0;
    padding-left: auto;
    padding-right: auto;
    display: block;
    height: 30px;
    flex: 1;
        border: solid black;
        border-left: 1px;
        border-top: 1px;
}

nav ul {
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: fixed;
    display: flex;
    overflow:auto ;
    width: 100%;
    background-color: azure;
    top: 0;
        z-index: 20;
}

nav h4 {
    float: left;
    display: block;
    text-align: center;
    padding: 5px;
    width: auto;
    height: auto;
    margin: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
header {
    background-image: radial-gradient(azure,rgb(92, 92, 138));
    color: white;
    height: 100vh;
    position: relative;
    display: inline-block;
    width: 100vw;
    justify-content: center;
}

@media screen and (min-width: 600px){
    header div {
    font-size: 50px;
    color: darkblue;
    width: auto;
    margin: auto;
    padding: 0px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}}

@media screen and (max-width: 600px){
    header div {
    font-size: 30px;
    color: darkblue;
    width: auto;
    margin: auto;
    padding: 0px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}}